table thead th.sorting:after, table thead th.sorting-asc:after, table thead th.sorting-desc:after
{
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}
table thead th.sorting, table thead th.sorting-asc, table thead th.sorting-desc
{
    padding-right: 30px;
}
table thead th
{
    cursor: pointer;
    position: relative;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
table thead th.sorting:after
{
    opacity: 0.2;
    content: "\e150";
}
table thead th.sorting-asc:after
{
    content: "\e155";
}
table thead th.sorting-desc:after
{
    content: "\e156";
}
table tbody tr.empty td
{
    text-align: center;
    font-weight: bold;
}
ul.pagination
{
    margin: 0;
}